# UI y utilidades
streamlit==1.25.0
requests==2.31.0
tqdm==4.66.1

# vídeo/audio y procesamiento ligero
yt-dlp==2025.1.26
librosa==0.10.1
soundfile==0.12.1
numpy==1.25.2

# model / whisper (compatibilidad con torch cpu)
whisper==1.1.10

# ffmpeg-python opcional (no obligatorio si usamos subprocess)
ffmpeg-python==0.2.0
